@import "../global";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap Overrides
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Pages
@import 'pages/dashboard';


.table td, .table th {
    padding: 0.3rem !important;
  }

h4 {
    color: #055F43 !important;
}

.table-responsive {
    margin-left: 4.5rem !important;
}

.wrapper {
    background-color: #fcfefe;
}