@import "../global";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,500');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500');

// Bootstrap Overrides

@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Pages
@import 'pages/dashboard';

@font-face {
    font-family: Roboto;
    src: url('/public/fonts/Roboto-Light.ttf');
    
    font-family: PT Sans;
    src: url('/public/fonts/PTSans-Bold.tff');

    
}


.table td, .table th {
    padding: 0.3rem !important;
  }

h1 {
    color: #2E7463  !important;
    font-size: 2.5rem !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300 !important;
    line-height: 55px;
    font-size: 2.5rem;
}



.wrapper {
    background-color: #FAFCFB;
}

.hide {
    display: none;
}

.form-group {
    margin-bottom: 1.8rem !important;
}    


hr.main_divider--short {
    width: 15%;
    max-width: 200px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(37,37,37,0.4);
    margin: 20px auto;
    padding: 0;
}    

.badge-primary {
    color: #000;
    background-color: #FCD91D;
}



.btn-success {
    background-color: #FCD91D !important;
    border-color: #FCD91D !important;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}


.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    background-color: rgb(20, 65, 18) !important;
    border-color: rgb(20, 65, 18)!important; /*set the color you want here*/
}


label {
    color: #3C3744 !important;
    font-weight: 600;
    display: none !important;
} 

.card-body {
    margin-bottom: 0px;
}  

.card {
    margin-bottom: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(20,40,60,.03);
}


.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 0 solid transparent;
}


.header {
    margin-top: 35px;
    text-align: left;
}


.header_two {
    margin-bottom: 50px;
    
}


.header_three {
    text-align: left;
    color: #3C3744;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    margin-bottom: 30px;
    text-transform: capitalize;
    font-size: 1.1rem;
    font-size: 18px;
}

.navbar {
    padding: 0.2rem 1rem !important;
    border-bottom: 1px solid #edeef0;
    box-shadow: 0 0 2rem 0 rgba(53,64,82,.1);
    background-color: #fff!important;
}    

.bg-secondary {
    background: #e9ecef !important;
}


a.navbar-brand.logo img {
    width: 50px;
    height: 50px;
}

.form-control {
    font-size: 0.8rem;
    font-weight: normal !important;
    line-height: 1.5;
    color: #060507;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}   

.nav-link {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

.center {
    text-align: center;
}

.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
    padding-top: 5rem;
}

.intro-info {
    margin-right: 5rem;
}

.space {
    background-color: #2c49b9;
    color: #2c49b9;
    margin-right: 10px;
}

.section-title h4 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 700;
} 


.main_total {
    font-weight: bold;
    color: #000;
    background: #BAFFCA;
}

.mb-0, .my-0 {
    margin-bottom: 0 !important;
    color: #2A753B;
    font-weight: 800;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
}

.title {
    margin-top: 0;
    margin-bottom: 5px;
    color: #060507;
    font-size: 16px;
    font-weight: bold;
    font-weight: 600;
    text-transform: uppercase;
}    

.header_section {
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.page_description { 
    font-size: 20px;
    padding-right: 1rem;
    font-family: "Quicksand", sans-serif;
    color: #2E7463;
}


.card-header-totals h5 {
    margin-bottom: 0;
    color: #000;
    font-size: 17px;
    font-weight: 400;
    display: inline-block;
    margin-right: 10px;
    line-height: 1.1;
    position: relative;
}

.card-header-totals h5:after {
    content: "";
    background-color: #04a9f5;
    position: absolute;
    left: -25px;
    top: 0;
    width: 4px;
    height: 20px;
}


.pl-4, .px-4 {
    padding-left: 1.5rem !important;
}
.pr-4, .px-4 {
    padding-right: 1.5rem !important;
}
.pt-2, .py-2 {
    padding-top: 0.5rem !important;

}